{
    "app": {
        "host": "0.0.0.0",
        "port": 30000
    },
    "socketIO": {
        "port": 30000
    },
    "auth": {
        "default": "dummy",
        "strategy": "remote_user",
        "googleOAuth": {
            "clientID": "",
            "clientSecret": ""
        }
    },
    "trustedDomains": ["*"],
    "links": {
        "bugzilla": "",
        "hssPortal": ""
    },
    "mailServices": {
        "Zimbra": {
            "domains": [
                "xxx.com"
            ],
            "host": "mail.xxx.com",
            "port": 25,
            "secureConnection": true
        },
        "noreplyAddress": "noreply@example.com"
    },
    "management": {
        "service": {
            "username": "cantas"
        }
    },
    "mongodb": {
        "host": "127.0.0.1",
        "name": "cantas",
        "pass": "",
        "port": 27017,
        "user": "cantas"
    },
    "notification": {
        "subjectPrefix": "[Cantas] - "
    },
    "piwik": {
      "enable": false,
      "siteId": 0,
      "siteUrl": "analytics.xxx.com"
    },
    "realm": "XXX.COM",
    "redis": {
        "host": "127.0.0.1",
        "port": 6379,
        "ttl": 86400
    },
    "sites": {
        "currentPhase": "product",
        "phases": {
            "devel": "",
            "local": "http://localhost:30000",
            "product": "",
            "stage": "",
            "test": ""
        }
    },
     "bugzilla": {
        "url": "https://bugzilla.xxx.com/jsonrpc.cgi",
        "username": "",
        "password": "",
        "bugBaseUrl": "https://bugzilla.xxx.com/show_bug.cgi?id="
    },
    "newBoardTitle": "Untitled board"
}
