{
    "app": {
        "host": "0.0.0.0",
        "port": 3000
    },
    "auth": {
        "strategy": "remote_user"
    },
    "links": {
        "bugzilla": "https://bugzilla.redhat.com/enter_bug.cgi?product=Cantas",
        "hssPortal": ""
    },
    "mailServices": {
        "Zimbra": {
            "domains": [
                "redhat.com"
            ],
            "host": "mail.redhat.com",
            "port": 25,
            "secureConnection": true
        }
    },
    "management": {
        "service": {
            "username": "cantas"
        }
    },
    "mongodb": {
        "host": "127.0.0.1",
        "name": "cantas",
        "pass": "",
        "port": 27017,
        "user": "cantas"
    },
    "notification": {
        "subjectPrefix": "[Cantas] - "
    },
    "piwikSiteId": {
        "product": 1,
        "stage": 1,
        "productUrl": "analytics.redhat.com/piwik/",
        "stageUrl": "analytics-stage.redhat.com/piwik/"
    },
    "realm": "REDHAT.COM",
    "redis": {
        "host": "127.0.0.1",
        "port": 6379,
        "ttl": 86400
    },
    "sites": {
        "currentPhase": "product",
        "phases": {
            "devel": "",
            "local": "http://localhost:3000",
            "product": "",
            "stage": "",
            "test": ""
        }
    },
     "bugzilla": {
        "url": "https://bugzilla.redhat.com/jsonrpc.cgi",
        "username": "",
        "password": "",
        "bugBaseUrl": "https://bugzilla.redhat.com/show_bug.cgi?id="
    }
}