script#template-account-settings-view(type="text/template")
  |div.board-ul-title
  |  h3= header
  |div.settings-container
  |  form(role="form")
  |    div.form-group
  |      label.control-label Display Name
  |        input#displayName(type="text", value=displayName)
