script#template-board-list-view(type="text/template")
  |div.board-ul-title
  |  h3= h3Header
  |  a.btn.btn-warning.new-board(type="text", onclick="cantas.navigateTo('boards/new')") New Board
  |div.board-ul-wapper
  |  div.clearfix.board-ul-header
  |    span.owner.board-name Board Name
  |    span Creation Time
  |    span Owner
  |ul.board-ul
  |  each board in boards
  |    if board.isClosed == true
  |      li(class=(highlighted === board._id) ? 'board-close highlighted' : 'board-close')
  |        div.owner.board-name= board.title
  |        div.board-meta
  |          span= cantas.utils.formatDate(board.created)
  |          span= board.creatorId.displayName
  |        if isCreator(board)
  |          a.js-open-board.reopen.board-list-status(data-board= board._id, title="Open this board")
  |    else
  |      li(class=(highlighted === board._id) ? 'highlighted' : '')
  |        a.owner.board-name.js-view-board(href="/board/\#{board._id}")= board.title
  |        div.board-meta
  |          span= cantas.utils.formatDate(board.created)
  |          span= board.creatorId.displayName
  |        if isCreator(board)
  |          a.js-close-board.delete.board-list-status(data-board= board._id, title="Close this board")
