script#template-board-list-view(type="text/template")
  |div.row-fluid.board-list
  |  div.span2.board-option
  |    ul
  |      li
  |      li
  |        span
  |        a.js-boards-public(onclick="cantas.navigateTo('boards/public')") Public Boards
  |      li.active
  |        span
  |        a.js-boards-mine(onclick="cantas.navigateTo('boards/mine')") My Boards
  |      li
  |        span
  |        a.js-boards-closed(onclick="cantas.navigateTo('boards/closed')") Closed Board
  |      li
  |  div.span10.my-board
  |    div.board-ul-title
  |      h3= h3Header
  |      a.btn.btn-warning.new-board(type="text", onclick="cantas.navigateTo('boards/new')") New Board
  |    div.board-ul-wapper
  |      div.clearfix.board-ul-header
  |        span.owner.board-name Board Name
  |        span Creation Time
  |        span Owner
  |    ul.board-ul
  |      each board in boards
  |        li
  |          a.owner.board-name(onclick="cantas.navigateTo('board/\#{board._id}')")= board.title
  |          span= cantas.utils.formatDate(board.created)
  |          span= board.creatorId.username
  |          if board.creatorId._id == cantas.user.id
  |            a.js-close-board.delete.board-list-delete(data-board= board._id, title="Close this board")
