div#card-menu.modal.card-menu.menu.hide(style="display:none")
  header.modal-header
    h4 Card Options
  div.modal-body
    ul
      li.js-archive-card
        a Archive this card
      li.js-move-card
        a Move Card
