script#template-card-add-view(type="text/template")
  |div.hidden-option.ui-state-disabled.js-add-card-area
  |  form.form-horizontal.option-form
  |    div.control-group
  |      div.controls
  |        textarea#card-form.input-xlarge.xx(placeholder="Untitled Card")
  |  footer.add-card-button.clearfix
  |    button.btn.btn-primary.finish-add-checklist.js-btn-submit Add
  |    button.btn.option-cancel.js-cancel Cancel
