script#template-card-checkitem(type="text/template")
  |p.js-check-item-text(title="Edit Content")= cantas.utils.safeString(content)
  |div.checkbox.js-item-checkbox
  |  span
  |a.delete.delete-item.js-item-delete
