script#template-comment-view(type="text/template")
  |h4 Comment
  |  a.new-item(href="http://daringfireball.net/projects/markdown/syntax") Markdown Syntax
  |textarea.js-add-comment-input(placeholder="Add comment")
  |div.js-comment-controls.hide.comment-button
  |  button.btn.btn-primary.js-save-comment Save
  |  button.btn.js-cancel-comment Cancel
  |div.comment-list
