script#template-dashboard-navigation-view(type="text/template")
  |ul
  |  li
  |  li
  |    span
  |    a.nav-boards-public(onclick="cantas.navigateTo('boards/public')") Public Boards
  |  li
  |    span
  |    a.nav-boards-mine(onclick="cantas.navigateTo('boards/mine')") My Boards
  |  li
  |    span
  |    a.nav-boards-closed(onclick="cantas.navigateTo('boards/closed')") Closed Board
  |  li
  |    span
  |    a.nav-cards-mine(onclick="cantas.navigateTo('cards/mine')") My Cards
  |  li
  |    span
  |    a.nav-cards-subscribed(onclick="cantas.navigateTo('cards/subscribed')") Subscribed Cards
  |  li
  |    span
  |    a.nav-cards-assigned(onclick="cantas.navigateTo('cards/assigned')")  Cards Assigned to Me
  |  li