script#template-dashboard-navigation-view(type="text/template")
  |ul
  |  li
  |  li
  |    span
  |    a.nav-boards-public(href="/boards/public") Public Boards
  |  li
  |    span
  |    a.nav-boards-mine(href="/boards/mine") My Boards
  |  li
  |    span
  |    a.nav-boards-closed(href="/boards/closed") Closed Board
  |  li
  |    span
  |    a.nav-cards-mine(href="/cards/mine") My Cards
  |  li
  |    span
  |    a.nav-account-settings(href="/account") Account Settings
  |  li