script#template-help-view(type="text/template")
  |div.help-content
  |    h1 Cantas Help Document
  |    article
  |      section.row-fluid
  |        div.span6
  |          h2 Create your own board.
  |          p By clicking "New Board" button, you can create your own board. In this page, you can view all public/your own/closed boards.
  |        div.span6.help-img
  |      section.row-fluid
  |        div.span6.help-img
  |        div.span6
  |          h2 Create a new list.
  |          p  By clicking "New List" button, you can create a new list, in which you can add cards.
  |      section.row-fluid
  |        div.span6
  |          h2 Add a new card.
  |          p By clicking "Add a card" button, you can add cards in any list. (You have had the permission to edit this board.)
  |        div.span6.help-img
  |      section.row-fluid
  |        div.span6.help-img
  |        div.span6
  |          h2 Set the board to a private board.
  |          p  By clicking this icon, you can set the board to a private board.
  |      section.row-fluid
  |        div.span6
  |          h2 Invite others to board.
  |          p You can invite other people into the board. Thus they have permissions  to edit this board.
  |        div.span6.help-img
  |      section.row-fluid
  |        div.span6.help-img
  |        div.span6
  |          h2 View activities of this board.
  |          p You can view all activities of this board.
  |      section.row-fluid
  |        div.span6
  |          h2 Archive a list.
  |          p You can archive this list.
  |        div.span6.help-img
  |      section.row-fluid
  |        div.span6.help-img
  |        div.span6
  |          h2 Archive a card.
  |          p You can archive this card.
  |      section.row-fluid
  |        div.span6
  |          h2 Assign tasks to board members.
  |          p You can assign tasks to board members.
  |        div.span6.help-img
  |      section.row-fluid
  |        div.span6.help-img
  |        div.span6
  |          h2 View your notifications.
  |          p You can view your notifications such as tasks assigned to you, invitations to join boards and so on.
  |      section.row-fluid
  |        div.span6
  |          h2 Add checklists for a card.
  |          p You can add checklists for a card. 
  |        div.span6.help-img
  |      section.row-fluid
  |        div.span6.help-img
  |        div.span6
  |          h2 Add comments for a card.
  |          p You can add comments for a card.
  |      section.row-fluid
  |        div.span6
  |          h2 Move a list to other places.
  |          p You can move a list to other places. 
  |        div.span6.help-img
  |      section.row-fluid
  |        div.span6.help-img
  |        div.span6
  |          h2 Move a card to other places.
  |          p You can move a card to other places. 
