script#template-list-view(type="text/template")
  |header.list-header.handle
  |  div.list-header-title
  |    h4.js-list-title
  |      strong.js-list-title-text(title= title)= title
  |      span.js-card-quantity(title="Total")
  |  a.list-setting.setting.js-list-setting
  |section.list-content.droptrue.move.ui-state-default.connectedSortable.js-list-content
  |footer.add-plugin.js-add-card Add a card

