div#list-menu.modal.list-menu.menu(style="display:none")
  header.modal-header
    h4 List Options
  div.modal-body
    ul
      li.js-add-card
        a Add Card
      li.js-archive-list
        a Archive This List
      li.js-archive-all-cards
        a Archive All Cards in This List
      li.js-move-list
        a Move List
