script#template-notification-menu-view(type="text/template").
  a(class="dropdown-toggle js-dropdown-toggle",data-toggle="dropdown") Notification
  a(class="reminder") 1
  ul(class="dropdown-menu dropdown-notification")
    li.all-read
      a.js-all-read Mark All as Read
    ul.dropdown-notification-content.js-dropdown-content
    li.show-more
      a.js-show-more Show More