.demo-1 .sl-slider-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Custom navigation arrows */
 .nav-arrows span {
    position: absolute;
    top: 50%;
    z-index: 2000;
    margin-top: -40px;
    width: 40px;
    height: 40px;
    border: 8px solid #ddd;
    border: 8px solid rgba(150, 150, 150, 0.4);
    text-indent: -90000px;
    cursor: pointer;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.nav-arrows span:hover {
    border-color: rgba(150, 150, 150, 0.9);
}
.nav-arrows span.nav-arrow-prev {
    left: 5%;
    border-top: none;
    border-right: none;
}
.nav-arrows span.nav-arrow-next {
    right: 5%;
    border-bottom: none;
    border-left: none;
}
/* Custom navigation dots */
 .nav-dots {
    position: absolute;
    bottom: 2%;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 30px;
    text-align: center;
}
.nav-dots span {
    position: relative;
    display: inline-block;
    margin: 3px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #ddd;
    background: rgba(150, 150, 150, 0.4);
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.4), inset 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.nav-dots span.nav-dot-current:after {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.8);
    content:"";
}
.skip {
    position: relative;
    top: -65px;
    right: -65px;
    z-index: 2;
    display: inline-block;
    float: right;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 24px;
}
.skip strong {
    position: absolute;
    bottom: 40px;
    left: 25px;
    color: #eee;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}
.skip strong:hover {
    color: #000;
    font-weight: bold;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
}
/* Content elements */
 .demo-1 .deco {
    position: absolute;
    bottom: 40%;
    left: 50%;
    margin: 0 0 0 -230px;
    width: 460px;
    height: 460px;
    border: 2px dashed #ddd;
    border: 2px dashed rgba(150, 150, 150, 0.4);
    border-radius: 50%;
}
.demo-1[data-icon]:after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -110px 0 0 -110px;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 10px #f7f7f7;
    color: #999;
    content: attr(data-icon);
    text-align: center;
    text-shadow: 0 0 1px #999;
    font-size: 100px;
    font-family:'AnimalsNormal';
    line-height: 220px;
}
.demo-1 .sl-slide h2 {
    position: absolute;
    bottom: 45%;
    left: 10%;
    margin: 0 0 -120px 0;
    padding: 20px;
    width: 80%;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 1px #000;
    letter-spacing: 13px;
    font-weight: 700;
    font-size: 34px;
    line-height: 50px;
}
.demo-1 .sl-slide blockquote {
    position: absolute;
    bottom: 45%;
    left: 0;
    z-index: 2;
    margin: 0 0 -200px 0;
    padding: 0;
    width: 100%;
    height: 70px;
    border-left: none;
    color: #8b8b8b;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.demo-1 .sl-slide blockquote p {
    position: relative;
    margin: 0 auto;
    max-width: 500px;
    width: 60%;
    font-size: 16px;
}
.demo-1 .sl-slide blockquote p strong {
    text-decoration: underline;
}
.demo-1 .sl-slide blockquote p:before {
    position: absolute;
    top: 35px;
    left: -80px;
    z-index: -1;
    width: 75px;
    height: 75px;
    color: #f0f0f0;
    color: rgba(244, 244, 244, 0.65);
    content:'\201C';
    font-size: 200px;
    font-family:"Bookman Old Style", Bookman, Garamond, serif;
    line-height: 60px;
}
.demo-1 .sl-slide blockquote cite {
    display: inline-block;
    padding-top: 10px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-style: normal;
    font-size: 10px;
}
/* Custom background colors for slides in first demo */

/* First Slide */
 .demo-1 .bg-1 .sl-slide-inner, .demo-1 .bg-1 .sl-content-slice {
    background: #ffeb41;
}
.demo-1 .bg-1 .deco {
    border-color: #ECD82C;
}
/* Second Slide */
 .demo-1 .bg-2 .sl-slide-inner, .demo-1 .bg-2 .sl-content-slice {
    background: #000;
}
.demo-1 .bg-2[data-icon]:after, .demo-1 .bg-2 h2 {
    color: #fff;
}
.demo-1 .bg-2 blockquote:before {
    color: #222;
}
.demo-1 .bg-2 .deco {
    background: url(images/cantas-welcome-board.png) no-repeat;
    background-position: center 60%;
    background-size: 70% auto;
}
/* Third Slide */
 .demo-1 .bg-3 .sl-slide-inner, .demo-1 .bg-3 .sl-content-slice {
    background: #6094D0;
}
.demo-1 .bg-3 .deco {
    border-color: #fff;
    border-color: rgba(255, 255, 255, 0.5);
}
.demo-1 .bg-3[data-icon]:after {
    box-shadow: inset 0 0 0 10px #b55381;
    color: #fff;
    text-shadow: 0 0 1px #fff;
}
.demo-1 .bg-3 h2, .demo-1 .bg-3 blockquote {
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}
.demo-1 .bg-3 blockquote:before {
    color: #c46c96;
}
.demo-1 .bg-3 .deco {
    background: url(images/cantas-welcome-list.png) no-repeat;
    background-position: center 60%;
    background-size: 70% auto;
}
/* Forth Slide */
 .demo-1 .bg-4 .sl-slide-inner, .demo-1 .bg-4 .sl-content-slice {
    background: #fff;
}
.demo-1 .bg-4[data-icon]:after {
    color: #277d87;
    text-shadow: 0 0 1px #277d87;
}
.demo-1 .bg-4 blockquote:before {
    color: #379eaa;
}
.demo-1 .bg-4 .deco {
    background: url(images/cantas-welcome-card.png) no-repeat;
    background-position: center 60%;
    background-size: 70% auto;
}
/* Fifth Slide */
 .demo-1 .bg-5 .sl-slide-inner, .demo-1 .bg-5 .sl-content-slice {
    background: #aaa;
}
.demo-1 .bg-5 .deco {
    border-color: #666;
}
.demo-1 .bg-5 .deco:after {
    color: #000;
}
.demo-1 .bg-5 h2, .demo-1 .bg-5 blockquote {
    color: #000;
}
.demo-1 .bg-5 .deco {
    background: url(images/cantas-welcome-card-detail.png) no-repeat;
    background-position: center 60%;
    background-size: 50% auto;
}
.demo-1 .bg-5 blockquote:before {
    color: #ecd82c;
}
/* Animations for content elements */
 .sl-trans-elems .deco {
    -webkit-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
    -moz-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
    -ms-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
    -o-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
    animation: roll 1s ease-out both, fadeIn 1s ease-out both;
}
.sl-trans-elems h2 {
    -webkit-animation: moveUp 1s ease-in-out both;
    -moz-animation: moveUp 1s ease-in-out both;
    -ms-animation: moveUp 1s ease-in-out both;
    -o-animation: moveUp 1s ease-in-out both;
    animation: moveUp 1s ease-in-out both;
}
.sl-trans-elems blockquote {
    -webkit-animation: fadeIn 0.5s linear 0.5s both;
    -moz-animation: fadeIn 0.5s linear 0.5s both;
    -ms-animation: fadeIn 0.5s linear 0.5s both;
    -o-animation: fadeIn 0.5s linear 0.5s both;
    animation: fadeIn 0.5s linear 0.5s both;
}
.sl-trans-back-elems .deco {
    -webkit-animation: scaleDown 1s ease-in-out both;
    -moz-animation: scaleDown 1s ease-in-out both;
    -ms-animation: scaleDown 1s ease-in-out both;
    -o-animation: scaleDown 1s ease-in-out both;
    animation: scaleDown 1s ease-in-out both;
}
.sl-trans-back-elems h2 {
    -webkit-animation: fadeOut 1s ease-in-out both;
    -moz-animation: fadeOut 1s ease-in-out both;
    -ms-animation: fadeOut 1s ease-in-out both;
    -o-animation: fadeOut 1s ease-in-out both;
    animation: fadeOut 1s ease-in-out both;
}
.sl-trans-back-elems blockquote {
    -webkit-animation: fadeOut 1s linear both;
    -moz-animation: fadeOut 1s linear both;
    -ms-animation: fadeOut 1s linear both;
    -o-animation: fadeOut 1s linear both;
    animation: fadeOut 1s linear both;
}
@-webkit-keyframes roll {
    0% {
        -webkit-transform: translateX(500px) rotate(360deg);
    }
    100% {
        -webkit-transform: translateX(0px) rotate(0deg);
    }
}
@-moz-keyframes roll {
    0% {
        opacity: 0;
        -moz-transform: translateX(500px) rotate(360deg);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0px) rotate(0deg);
    }
}
@-o-keyframes roll {
    0% {
        opacity: 0;
        -o-transform: translateX(500px) rotate(360deg);
    }
    100% {
        opacity: 1;
        -o-transform: translateX(0px) rotate(0deg);
    }
}
@-ms-keyframes roll {
    0% {
        opacity: 0;
        -ms-transform: translateX(500px) rotate(360deg);
    }
    100% {
        opacity: 1;
        -ms-transform: translateX(0px) rotate(0deg);
    }
}
@keyframes roll {
    0% {
        opacity: 0;
        transform: translateX(500px) rotate(360deg);
    }
    100% {
        opacity: 1;
        transform: translateX(0px) rotate(0deg);
    }
}
@-webkit-keyframes moveUp {
    0% {
        -webkit-transform: translateY(40px);
    }
    100% {
        -webkit-transform: translateY(0px);
    }
}
@-moz-keyframes moveUp {
    0% {
        -moz-transform: translateY(40px);
    }
    100% {
        -moz-transform: translateY(0px);
    }
}
@-o-keyframes moveUp {
    0% {
        -o-transform: translateY(40px);
    }
    100% {
        -o-transform: translateY(0px);
    }
}
@-ms-keyframes moveUp {
    0% {
        -ms-transform: translateY(40px);
    }
    100% {
        -ms-transform: translateY(0px);
    }
}
@keyframes moveUp {
    0% {
        transform: translateY(40px);
    }
    100% {
        transform: translateY(0px);
    }
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes scaleDown {
    0% {
        -webkit-transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0.5);
    }
}
@-moz-keyframes scaleDown {
    0% {
        -moz-transform: scale(1);
    }
    100% {
        -moz-transform: scale(0.5);
    }
}
@-o-keyframes scaleDown {
    0% {
        -o-transform: scale(1);
    }
    100% {
        -o-transform: scale(0.5);
    }
}
@-ms-keyframes scaleDown {
    0% {
        -ms-transform: scale(1);
    }
    100% {
        -ms-transform: scale(0.5);
    }
}
@keyframes scaleDown {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.5);
    }
}
@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-ms-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/* Media Queries for custom slider */
 @media screen and (max-width: 660px) {
    .demo-1 .deco {
        margin-bottom: 50px;
        margin-left: -65px;
        width: 130px;
        height: 130px;
    }
    .demo-1[data-icon]:after {
        margin: -55px 0 0 -55px;
        width: 110px;
        height: 110px;
        font-size: 40px;
        line-height: 110px;
    }
    .demo-1 .sl-slide blockquote {
        margin-bottom: -120px;
    }
    .demo-1 .sl-slide h2 {
        margin-bottom: -40px;
        letter-spacing: 8px;
        font-size: 18px;
        line-height: 22px;
    }
    .demo-1 .sl-slide blockquote p:before {
        left: -45px;
        width: 40px;
        height: 40px;
        font-size: 120px;
        line-height: 10px;
    }
}
/* loading */
 .load-outer {
    position: absolute;
    top: 55%;
    left: 50%;
    margin: -125px 0 0 -125px;
}
.loader {
    position: relative;
    width: 250px;
    height: 250px;
}
.load-bar {
    float:left;
    margin-right:2%;
    width:15%;
    height:40%;
    border-radius: 15%;
    background-color:#333;
    -webkit-animation-name: loadingbar;
    animation-name: loadingbar;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.loader > div {
    width: 100%;
    height: 50%;
}
.loader .load-bar:nth-child(1) {
    margin-top: 35%;
    height: 30%;
    border-radius: 15% 15% 0 0;
    -webkit-animation-delay:0.91s;
    -moz-animation-delay:0.91s;
}
.loader .load-bar:nth-child(2) {
    margin-top: 10%;
    -webkit-animation-delay:0.78s;
    -moz-animation-delay:0.78s;
}
.loader .load-bar:nth-child(3) {
    margin-top: 0;
    -webkit-animation-delay:0.65s;
    -moz-animation-delay:0.65s;
}
.loader .load-bar:nth-child(4) {
    -webkit-animation-delay:0.52s;
    -moz-animation-delay:0.52s;
}
.loader .load-bar:nth-child(5) {
    margin-top: 15%;
    -webkit-animation-delay:0.39s;
    -moz-animation-delay:0.39s;
}
.loader .bottom .load-bar:nth-child(1) {
    margin-top: 0;
    height: 30%;
    border-radius: 0 0 15% 15%;
    -webkit-animation-delay:0.91s;
    -moz-animation-delay:0.91s;
}
.loader .bottom .load-bar:nth-child(2) {
    margin-top: 10%;
    -webkit-animation-delay:1.04s;
    -moz-animation-delay:1.04s;
}
.loader .bottom .load-bar:nth-child(3) {
    margin-top: 28%;
    -webkit-animation-delay:1.17s;
    -moz-animation-delay:1.17s;
}
.loader .bottom .load-bar:nth-child(4) {
    margin-top: 28%;
    -webkit-animation-delay:1.30s;
    -moz-animation-delay:1.30s;
}
.loader .bottom .load-bar:nth-child(5) {
    margin-top: 15%;
    -webkit-animation-delay:1.43s;
    -moz-animation-delay:0.43s;
}
@keyframes loadingbar {
    100% {
        height:30%;
        border-color: #CDB90F;
        background-color:#FFEB41;
    }
}
@-webkit-keyframes loadingbar {
    100% {
        height:30%;
        border-color:#CDB90F;
        background-color:#FFEB41;
    }
}
